.projPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projDescript{
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: var(--color6);
    align-items: center;
    border-radius: 10px; 
    box-shadow: 0 0 10px 0 var(--color0);
}
.projInfo{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.projDescript img{
    padding: 10px;
    border: 5px solid var(--color0);
    height: 300px;
    object-fit: cover;
}


.projInfo p{
    text-align: justify ;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: var(--color0);
}

.projPledges{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;

    border-radius: 10px;
    box-shadow: 0 0 10px 0 var(--color0);
    background-color: var(--color5);
}